.wrapper {
  width: 100%;
  height: 100vh;
  background: url(../public/assets/home/background-home-desktop.jpg);
  background-size: cover;
  position: relative;
}

.homecenter {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  margin: 0 auto;
  max-width: 1400px;
  align-items: center;
  position: relative;
}

.homecontent {
  display: grid;
  position: absolute;
  top: 35%;
  left: 0;

  /* place-items: center; */
}

.homecontent h1 {
  margin: 1rem 0;
}

.homebutton {
  display: flex;
  position: absolute;
  top: 70%;
  right: 5%;
  transform: translate(-5%, -70%);
  place-items: center;
}

.homebutton > button {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: none;
  background: var(--white);
  text-align: center;
  font-size: 32px;
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s ease-in;
  letter-spacing: 2px;
}

.homebutton > button:hover {
  box-shadow: 3px 3px 10px 30px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 450px) {
  .wrapper {
    background: url(../public/assets/home/background-home-mobile.jpg) no-repeat
      center center fixed;
    background-size: cover;
  }

  .homecenter {
    grid-template-columns: 1fr;
    place-items: center;
    padding-top: 7rem;
  }

  .homecontent {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }

  .homecontent > h1 {
    font-size: 70px;
  }

  .homecontent > h5 {
    font-size: 16px;
  }

  .homecontent > p {
    width: 100% !important;
    font: 15px;
    line-height: 25px;
  }

  .homebutton {
    position: relative;
    top: 0;
    right: 0;
    transform: translate(0, 0);
  }

  .homebutton > button {
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
}

@media screen and (min-width: 450px) and (max-width: 1020px) {
  .wrapper {
    background: url(../public/assets/home/background-home-tablet.jpg) no-repeat
      center center fixed;
    background-size: cover;
  }

  .homecenter {
    grid-template-columns: 1fr;
    place-items: center;
    padding-top: 7rem;
  }

  .homecontent {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }

  .homecontent > p {
    width: 30rem !important;
  }

  .homebutton {
    position: relative;
    top: 0;
    right: 0;
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 1021px) and (max-width: 1400px) {
  .homebutton {
    right: -5%;
    top: 60%;
  }
}
